= flash[:success]
= flash[:error]
%br
%form{action: '/settings', method: 'post'}
	%label
		Start Time for Range
	.time-fields
		%select{name: 'start-hour'}
			- (1..12).to_a.each do |hour|
				- if @start_hour == hour
					%option{value: hour, selected: true}
						= hour.to_s.rjust(2, '0')
				- else
					%option{value: hour}
						= hour.to_s.rjust(2, '0')	
		%select{name: 'start-minute'}
			- (0..59).to_a.each do |minute|
				- if @start_minute == minute
					%option{value: minute, selected: true}
						= minute.to_s.rjust(2, '0')
				- else
					%option{value: minute}
						= minute.to_s.rjust(2, '0')
		%select{name: 'start-period'}
			- ['AM', 'PM'].each do |period|
				- if @start_period == period
					%option{value: period, selected: true}
						= period
				- else
					%option{value: period}
						= period					

	%br

	%label
		End Time for Range
	.time-fields
		%select{name: 'end-hour'}
			- (1..12).to_a.each do |hour|
				- if @end_hour == hour
					%option{value: hour, selected: true}
						= hour.to_s.rjust(2, '0')
				- else
					%option{value: hour}
						= hour.to_s.rjust(2, '0')	
		%select{name: 'end-minute'}
			- (0..59).to_a.each do |minute|
				- if @end_minute == minute
					%option{value: minute, selected: true}
						= minute.to_s.rjust(2, '0')
				- else
					%option{value: minute}
						= minute.to_s.rjust(2, '0')
		%select{name: 'end-period'}
			- ['AM', 'PM'].each do |period|
				- if @end_period == period
					%option{value: period, selected: true}
						= period
				- else
					%option{value: period}
						= period

	%br
	
	%input{type: 'submit', value: 'Submit'}
